body{
	margin:0;
}

.game-container{
    position: absolute;
    bottom:0;
    height:100%;
    width:100%;
    overflow: hidden;
}

.pause-menu{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(50,50,250,0.8);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide{
    grid-column-start: 1;
    grid-column-end: 3;
}
.pause-menu a{
    opacity: 1;
    cursor: pointer;
    transition:0.5s;
    text-decoration: none;
    background-color: rgb(0,255,0);
    color: black;
    border: solid black 2px;
    padding: 10px;
    margin: 5px;
}
.pause-menu a:hover{
    background-color:green;
}
.pause-menu p{
    margin: 5px;
    text-align: center;
}

.pause-menu-header{
    font-size: 1.5em;
}
.pause-menu-subtext{
    font-size: 0.9em;
    display: none;
}
.pause-menu-points{
    font-size: 1.2em;
    display: none;
}

.t-rex{
    position: absolute;
    left: 50vw;
    bottom:0;
}